/* Will Hutcheon
Webpage that displays restaurant reccomendations and reccomended dishes for the restaurants as well as a page for creating a meal plan
based on the reccomendations. This file contains the css code for the index webpage. */
img {
    width: 100px;
    height: auto;
}

.big {
    margin: 0 10px;
    /* border: 1px solid black; */
    width: 300px;
    height: auto;
}

.small {
    margin: 0 10px;
    /* border: 1px solid black; */
    width: 100px;
    height: auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: gray;
}

.flex-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    background-color: gray;
}

body {
    background-color: rgba(128, 128, 128, 0.589);
}

.dish-description {
    display: none;
}