/* Will Hutcheon
Webpage that displays restaurant reccomendations and reccomended dishes for the restaurants as well as a page for creating a meal plan
based on the reccomendations. This file contains the css code for the meal plan webpage. */
.container {
    display: flex;
    justify-content: space-between;
}

.recommendations {
    flex: 1;
    margin-right: 20px;
}

.meal-plan {
    flex: 1;
}

body {
    background-color: rgba(128, 128, 128, 0.589);
}