.container {
    display: flex;
    justify-content: space-between;
}

.recommendations {
    flex: 1;
    margin-right: 20px;
}

.meal-plan {
    flex: 1;
}

body {
    background-color: rgba(128, 128, 128, 0.589);
}