.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
}

.flex-container img {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.flex-container img.selected {
    border-color: red; /* Change border color to red when selected */
}

.flex-container h1 {
    margin: 0; /* Remove default margins */
}

.play-again-button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.results-container {
    display: flex; /* Display children inline */
    align-items: center; /* Center children vertically */

    /* justify-content: flex-start; */

    justify-content: space-between;

    border: 1px solid black;
    border-radius: 5px;
}

.results-container h1 {
    margin-right: 10px; /* Add space between "RESULTS:" and the result */
}