body {
    background-color: black;
}

.repo-list-container {
    display: flex;
    flex-wrap: wrap;
}

.repo-container {
    /* flex: 1 1 calc(33.33% - 20px); */
    /* flex: 1 1 calc((100% / 3) - 20px); */
    flex: 0 1 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.repo-name {
    font-weight: bold;
}

.repo-description {
    margin-top: 5px;
    font-style: italic;
}

.repo-details {
    margin-top: 5px;
    font-size: 14px;
}